<div class="container" *ngIf="person | async as p">


  <div class="nameContainer">
    <h2>Nombre: {{ p.name }}</h2>

    <div class="nameActions">
      <input [(ngModel)]="name">
      <button mat-raised-button color="primary" (click)="editName()" >Change Name</button>
    </div>
  </div>

  <div class="ageContainer">
    <h4>Edad: {{ p.age }}</h4>

    <div class="ageActions">
      <button mat-flat-button color="primary" (click)="upAge()">+</button>
      <button mat-flat-button color="primary" (click)="downAge()">-</button>
    </div>
  </div>


  <button mat-raised-button color="primary"  class="reset" (click)="reset()">Reset</button>


</div>